---
import FilePickerComponent from "../components/FilePickerComponent";
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";

const apiUrl = import.meta.env.API_URL ?? "http://localhost:8000";
---

<Layout>
  <main class="flex flex-col items-center justify-between min-h-screen text-center">
    <section class="flex flex-1 flex-col items-center justify-center h-full p-4">
      <h1 class="text-4xl font-medium">Хэдэн бууз хийсэн бэ?</h1>
      <div class="mt-8">
        <FilePickerComponent apiUrl={apiUrl} client:load />
      </div>
    </section>
    <section class="flex">
      <Footer />
    </section>
  </main>
</Layout>
