---
---

<footer class="py-5 text-gray-light text-center">
  <p>
    &copy; 2023-2025 Buuz App - <a
      href="https://github.com/bilguun0203/buuz-web"
      target="_blank">Github</a
    >
  </p>
</footer>
