---
import { Icon } from 'astro-icon/components'
---

<button class="fixed top-4 right-4 w-8" onclick="toggleDarkMode()" title="Theme switcher">
  <span class="text-stone-800 dark:text-orange-200">
    <Icon name="uil:moon" id="theme-toggle-moon" size={24} />
    <Icon name="uil:sun" id="theme-toggle-sun" size={24} />
  </span>
</button>

<script is:inline>
  const updateIcons = () => {
    const html = document.documentElement;
    console.log(html.classList);
    if (html.classList.contains("dark")) {
      document.getElementById("theme-toggle-moon").classList.add("hidden");
      document.getElementById("theme-toggle-sun").classList.remove("hidden");
    } else {
      document.getElementById("theme-toggle-moon").classList.remove("hidden");
      document.getElementById("theme-toggle-sun").classList.add("hidden");
    }
  };

  const toggleDarkMode = () => {
    const html = document.documentElement;
    if (html.classList.contains("dark")) {
      html.classList.remove("dark");
      localStorage.theme = "light";
    } else {
      html.classList.add("dark");
      localStorage.theme = "dark";
    }
    updateIcons();
  };

  if (
    localStorage.theme === "dark" ||
    (!("theme" in localStorage) &&
      window.matchMedia("(prefers-color-scheme: dark)").matches)
  ) {
    document.documentElement.classList.add("dark");
  } else {
    document.documentElement.classList.remove("dark");
  }

  updateIcons();
</script>
